<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- src="src/assets/js/main.js" -->
    <!-- <script>

        function myfunction() {
            var x = document.getElementById("menu");

            if (x.style.display == "block") {
                x.style.display = "none";
            }
            else {
                x.style.display = "block";
            }

        }


    </script> -->





    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    <div class="nav-bar">
        <img src="assets/img/logo-white.svg">
        <div class="menu-right">
            <span ngclick="onClick()">&#9776;</span>
            <ul id="menu">
                <li><a href="#" routerLink="indexfront" routerLinkActive="active">Home</a></li>
                <li><a href="#" routerLink="aboutUs" routerLinkActive="active">About Us</a></li>
                <li><a href="#" routerLink="contactUs" routerLinkActive="active">Contact</a></li>
                <li><a href="#" routerLink="drivingWithAssar" routerLinkActive="active">Drive with assar</a></li>
                <li><a href="#" routerLink="franchise" routerLinkActive="active">Franchise</a></li>







                <div class="dropdown">

                    <button class="dropbtn">

                        <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>

                        </a>

                    </button>

                    <div class="dropdown-content">
                        <a routerLink="signup" href="#">Sign up</a>
                        <a routerLink="login" href="#">Login</a>
                        <!-- <a href="#">Logout</a> -->
                        <!-- <a href="#">Link 3</a> -->
                    </div>
                </div>




            </ul>


        </div>


    </div>




</body>


<!-- <script>
    function myfunction() {
        var x = document.getElementById("menu");

        if (x.style.display == "block") {
            x.style.display = "none";
        }
        else {
            x.style.display = "block";
        }

    }

</script> -->




</html>



<!-- <h1>hello</h1> -->