<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<main id="main">
    <section id="login" class="login_sec">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-6 bg-light">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="col-lg-8 mx-auto">
                                <span class="form_heading_title">

                                    <body>

                                        <div class="hatchback_car">
                                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill"
                                                href="#pills-home" role="tab" aria-controls="pills-home"
                                                aria-selected="true">
                                                <span><img src="assets/img/choose_1.png" alt=""
                                                        class="img-fluid"></span><br />
                                                <span style="color:white"><b>Hatchback-Car</b></span></a>

                                        </div>


                                        <h2 style="font-weight:bold; margin-left:124px;">2 min</h2>













                                    </body>
                                </span>

                                <div class="form_all">
                                    <form class="">
                                        <div class="row">
                                            <div class="col-md-12 mb-3">

                                                <div class="input-group">
                                                    <div class="wait_pls">

                                                        <h4><b>CITY
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                    height="16" fill="currentColor"
                                                                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                                    <path fill-rule="evenodd"
                                                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                                                </svg>
                                                                INDORE</b></h4>



                                                        <h4><b>PICK-UP
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                    height="16" fill="currentColor"
                                                                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                                    <path fill-rule="evenodd"
                                                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                                                </svg>
                                                            </b><b> VIJAY NAGAR</b></h4>


                                                        <h4><b>DROP-UP
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                    height="16" fill="currentColor"
                                                                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                                    <path fill-rule="evenodd"
                                                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                                                </svg>
                                                            </b><b> RAILWAY STATION</b></h4>


                                                        <h4><b>FARE
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                    height="16" fill="currentColor"
                                                                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                                    <path fill-rule="evenodd"
                                                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                                                </svg>
                                                            </b><b> ₹ 90/-</b></h4>



                                                        <span><i class="bx bx-rotate-right"></i></span>
                                                    </div>



                                                    <span class="icon_form_add"><i class='bx bxs-lock-alt'></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <h4><b>Pay By</b></h4>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="rpw" placeholder="Cash"
                                                        aria-describedby="" required>


                                                </div>
                                            </div>
                                            <h4><b>COUPON</b></h4>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="rpw"
                                                    placeholder="Enter Code" aria-describedby="" required>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="btn">
                                            <button class="btn btn-primary form_btn" type="submit">Confirm &
                                                Book</button>
                                        </div>



















                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-flex bg-image"></div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->

<div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14718.961752080993!2d75.88823949699938!3d22.7378870034315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m3!3e6!4m0!4m0!5e0!3m2!1sen!2sin!4v1636710359647!5m2!1sen!2sin"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

</html>