<div>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">




    <div class="banner-breadcum section">
        <div class="row">
            <div class="breadcrumb-image"
                style="background-image: url(https://images.pexels.com/photos/544117/pexels-photo-544117.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);">
                <div class="containe text-center">
                    <h1>About us</h1>
                    <div class="breadcrumbs_path">
                        <a href="#">About</a>     Home
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div>
        <h1>Are You Ready?</h1>

    </div>






    <div class="car">

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>We, Assar Vehicle, situated at Indore, Madhya Pradesh, have a profound understanding of our
                        consumers
                        travel
                        needs and preferences. We aim to offer individuals as well as corporate a wide range of cars on
                        hire. We
                        have
                        well maintained & luxurious cars which help to make your travel comfortable and pleasing. We are
                        passionate &
                        professional at the same time which help us deliver outstanding services to our clients. Get in
                        touch
                        with us to
                        get the best travel solution.<br>
                        <br>

                        We save you the cost and hassle of owning & maintaining a car while giving you all the good
                        arts:<br>
                        <br>

                        Convenience, Mobility and Independence.
                    </p>
                </div>

                <div class="col-lg-6">

                    <img src="../assets/innova.jpg" class="d-block w-100" alt="...">
                </div>
            </div>

        </div>

    </div>


    <div>

        <img src="../assets/VM.png" class="d-block w-100" alt="...">
        <img src="../assets/AN.png" class="d-block w-100" alt="...">
    </div>

    <div class="testi">
        <span class="wow">Testimonial</span>
    </div>


    <!-- <h2 class="wow fadeInDown"><span style="text-align: center;">Our Testimonial</span></h2> -->




    <!-- </div>
    data-wow-duration="1000ms" data-wow-delay="300ms"

    

    
    

    
    <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x"
    data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
    <div class="testimonial4_header">
        <h2 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">Our<span> Testimonial</span></h2>
        <div class="sed wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"></div>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#testimonial4" data-slide-to="0" class=""></li>
        <li data-target="#testimonial4" data-slide-to="1" class=""></li>
        <li data-target="#testimonial4" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <div class="testimonial4_slide">
                <img src="https://assarvehicle.com/wp-content/uploads/2018/04/Abhishek-Chauhan.png"
                    class="img-circle img-responsive" alt="Car Rental Company" title="Cheap Self Drive Car Rental">
                    <p>Hi, a best option to enjoy holidays at outstation. Hired a Assar Vehicle on self-drive basis at
                        Indore. Could save time and money. The blocked amount was refunded within 4 days. Thanking for a
                        good service. I would say, it is a good option for non-freak drivers.</p>
                        <h4>Abhishek Sharma</h4>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial4_slide">
                        <img src="https://assarvehicle.com/wp-content/uploads/2018/04/abhishek-chohan.jpg"
                    class="img-circle img-responsive" alt="Cheap Bike Rental" title="Car Booking In Indore">
                <p>Definitely a boon for people like me who can’t afford to own a car. It also will take you off the
                    hassle of parking a car and definitely a plus for city like Indore which is heavily saturated with
                    private vehicles on road and off road. A service like this should be promoted by government. It is
                    definitely a plus over hiring a cab and losing your privacy…..thumbs up to Assar Vehicle.</p>
                    <h4>Pranav Tripathi</h4>
                </div>
            </div>
            <div class="item active">
                <div class="testimonial4_slide">
                    <img src="https://assarvehicle.com/wp-content/uploads/2018/04/AbhishekChauhan.jpg"
                    class="img-circle img-responsive" alt="Car Booking In Indore" title="Cheap Bike Rental">
                <p>Had a wonderful experience with Assar Vehicle!! Took the Assar Vehicle all the way to Indore.</p>
                <h4>Vinay Chouhan</h4>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#testimonial4" role="button" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#testimonial4" role="button" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
</div> -->






    <!-- crousal -->






    <!-- <div class="container">



        <img src="../assets/AS.png" alt="Abhishek Sharma" style="width:90px">
        <p><span>Abhishek Sharma</span>Hi, a best option to enjoy holidays at outstation. Hired a Assar Vehicle on
            self-drive basis at Indore. Could save time and money. The blocked amount was refunded within 4 days.
            Thanking
            for a good service. I would say, it is a good option for non-freak drivers.</p>

    </div>
 -->

    <!-- <div class="container">
        <div>

            <img src="../assets/PT.jpg" alt="Avatar" style="width:90px">
            <p><span>Pranav Tripathi</span> Definitely a boon for people like me who can’t afford to own a car. It also
                will
                take you off the hassle of parking a car and definitely a plus for city like Indore which is heavily
                saturated
                with private vehicles on road and off road. A service like this should be promoted by government. It is
                definitely a plus over hiring a cab and losing your privacy…..thumbs up to Assar Vehicle..
            </p>

        </div> -->
</div>

<!-- <div class="container">
        <div>

            <img src="../assets/VC.jpg" alt="Avatar" style="width:90px">
            <p><span>Vinay Chouhan</span>Had a wonderful experience with Assar Vehicle!! Took the Assar Vehicle all the
                way
                to
                Indore..</p>


        </div>
    </div> -->



<!-- <h1>SLIDER</h1> -->
















<div class="container">
    <div class="row">
        <div class="column col-lg-4">
            <!-- <h1>Certificate</h1> -->
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">


                        <div _ngcontent-pxs-c16="" class="container"><img _ngcontent-pxs-c16="" src="../assets/AS.png"
                                alt="Abhishek Sharma" style="width: 90px;">
                            <p _ngcontent-pxs-c16=""><span _ngcontent-pxs-c16="">Abhishek
                                    Sharma</span>Hi, a best option
                                to enjoy holidays at outstation. Hired a Assar Vehicle on self-drive
                                basis at Indore.
                                Could save time and money. The blocked amount was refunded within 4
                                days. Thanking for a
                                good service. I would say, it is a good option for non-freak drivers.
                            </p>
                        </div>







                    </div>
                    <div class="carousel-item">






                        <div _ngcontent-rkg-c16="" class="container">
                            <div _ngcontent-rkg-c16=""><img _ngcontent-rkg-c16="" src="../assets/PT.jpg" alt="Avatar"
                                    style="width: 90px;">
                                <p _ngcontent-rkg-c16=""><span _ngcontent-rkg-c16="">Pranav
                                        Tripathi</span> Definitely a
                                    boon for people like me who can’t afford to own a car. It also will
                                    take you off the
                                    hassle of parking a car and definitely a plus for city like Indore
                                    which is heavily
                                    saturated with private vehicles on road and off road. A service like
                                    this should be
                                    promoted by government. It is definitely a plus over hiring a cab
                                    and losing your
                                    privacy…..thumbs up to Assar Vehicle.. </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">

                        <div _ngcontent-uqe-c16="" class="container">
                            <div _ngcontent-uqe-c16=""><img _ngcontent-uqe-c16="" src="../assets/VC.jpg" alt="Avatar"
                                    style="width: 90px;">
                                <p _ngcontent-uqe-c16=""><span _ngcontent-uqe-c16="">Vinay
                                        Chouhan</span>Had a wonderful
                                    experience with Assar Vehicle!! Took the Assar Vehicle all the way
                                    to Indore..</p>
                            </div>
                        </div>





                    </div>
                </div>