<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<main id="main">
    <section id="login" class="login_sec">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-6 bg-light">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="col-lg-8 mx-auto">
                                <span class="form_heading_title">

                                    <body>

                                        <div class="topnav">
                                            <a class="active" href="#home">CITY TAXI</a>
                                            <a class="" href="#news">OUTSTATION</a>
                                            <a class="" href="#contact">RENTALS</a>

                                        </div>


                                        <h3
                                            style="font-weight: bold;color: #000066; padding-left: 80px; padding-top: 22px;;">
                                            The
                                            gataway car</h3>
                                        <p style="font-weight: bold;padding-left: 86px;">AC cabs for inter-city travel
                                        </p>

                                        <hr style="width: 400px;height: 5px; color:#000000;">











                                        <div style="padding-left:16px">

                                        </div>

                                    </body>
                                </span>

                                <div class="form_all">
                                    <form class="">
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <h4><b>CITY</b></h4>

                                                <div class="input-group">

                                                    <input type="text" class="form-control" id="fpw"
                                                        placeholder="Enter city Location" aria-describedby="" required>


                                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-cursor-fill"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z" />
                                                    </svg>






 -->

                                                    <span class="icon_form_add"><i class='bx bxs-lock-alt'></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <h4><b>Location</b></h4>
                                                <div class="input-group">


                                                    <input type="text" class="form-control" id="fpw"
                                                        placeholder="Pick-up Location" aria-describedby="" required>

                                                    <!-- <input type="text" class="form-control" id="rpw"
                                                        placeholder="Pick-up Location" aria-describedby="" required> -->

                                                    <span class="icon_form_add"><i class='bx bxs-lock-alt'></i></span>
                                                </div>

                                            </div>
                                            <!-- <input type="text" class="form-control" id="rpw"
                                                placeholder="Pick-up Location" aria-describedby="" required> -->

                                            <div class="pick">

                                                <input type="text" class="form-control" id="fpw"
                                                    placeholder="Drop-up Location" aria-describedby="" required>
                                            </div>



                                            <div class="">
                                                <h5 style="padding-top: 30px;padding-bottom: 30px"><b>WHEN</b></h5>
                                            </div>
                                            <div class="topnav">


                                                <a class="active" href="#home">NOW</a>
                                                <a class="" href="#news">Schedule for later</a>


                                            </div>












                                            <!-- <div class="row">

                                                <div class="col-6 col-sm-3">
                                                    <div class="date">
                                                        <input type="date" id="start" name="trip-start"
                                                            value="2018-07-22" min="2018-01-01" max="2018-12-31">
                                                    </div>
                                                </div>
                                            </div> -->

                                            <!-- <div class="col-6 col-sm-3">



                                                <input type="datetime-local" id="birthdaytime" name="birthdaytime">


                                            </div> -->










                                        </div>

                                        <div class="time">

                                            <h5 style="font-weight: bold;padding-top: 27px;">Date/Time</h5>
                                            <input type="datetime-local" id="birthdaytime" name="birthdaytime">
                                        </div>


                                        <div class="time">

                                            <h5 style="font-weight: bold;padding-top: 27px;">Return Date/Time</h5>
                                            <input type="datetime-local" id="birthdaytime" name="birthdaytime">
                                        </div>













                                        <div>
                                            <div class="col-lg-12 mt-3">
                                                <span class="d-flex align-items-center justify-content-center">
                                                    <button style="border-radius: 61px;"
                                                        class="btn btn-primary form_btn" type="submit">Search
                                                        Cabs</button>
                                                </span>
                                            </div>
                                        </div>


                                        <!-- <h2 style="color: black;padding-top: 30px;">Available Ride</h2> -->



                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-flex bg-image"></div>
            </div>

        </div>




    </section>
</main>



<!-- End #main -->

</html>





<!-- <body _ngcontent-hek-c52="">
    <div _ngcontent-hek-c52="" class="topnav"><a _ngcontent-hek-c52="" href="#home" class="active" routerLink='/OTP'
            routerLink='/OTP'>NOW</a><a _ngcontent-hek-c52="" href="#news"></a><a _ngcontent-hek-c52=""
            href="#contact">RENTALS</a></div>
    <div _ngcontent-hek-c52="" style="padding-left: 16px;"></div>
</body> -->





<!-- <div class="container">
    <div class="row justify-content-start">
        <div class="col-4">
            <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
        </div>
        <div class="col-4">
            <input type="datetime-local" id="birthdaytime" name="birthdaytime">
        </div>
    </div> -->

<div class="time">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-4">
                <!-- <h6 style="font-weight: bold;">DATE</h6> -->
                <!-- <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"> -->
            </div>
            <!-- <div class="col-4">
                <h6 style="font-weight: bold;">Time</h6>
                <input type="datetime-local" id="birthdaytime" name="birthdaytime">
            </div> -->
        </div>
    </div>