<app-navb></app-navb>
<app-index></app-index>
<!-- <app-showdata></app-showdata> -->
<!-- <app-book-now></app-book-now> -->
<!-- <app-thankyou-vehiclename></app-thankyou-vehiclename> -->
<!-- <app-thanku-booking></app-thanku-booking> -->
<!-- <app-mobile-number-otp></app-mobile-number-otp> -->
<!-- <app-otp></app-otp> -->
<!-- <app-timer></app-timer> -->
<!-- <app-otp></app-otp> -->
<!-- <app-the-gateway-car></app-the-gateway-car> -->
<!-- <app-one-cab-many-destinations></app-one-cab-many-destinations> -->
<!-- <app-every-travel-partner2></app-every-travel-partner2> -->
<!-- <app-every-travel-partner1></app-every-travel-partner1> -->
<!-- <app-every-travel-partner></app-every-travel-partner> -->
<!-- <app-header></app-header> -->
<!-- <app-about-us></app-about-us> -->
<!-- <app-franchise></app-franchise> -->
<!-- <app-driving-with-assar></app-driving-with-assar> -->
<!-- <app-hatchback-car-book></app-hatchback-car-book> -->
<router-outlet></router-outlet>
<!-- <app-contact-us></app-contact-us> -->
<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->
<!-- <app-index-front></app-index-front> -->
<!-- <app-home></app-home> -->
<!-- <app-index-front></app-index-front> -->
<!-- <app-billpay></app-billpay> -->
<!-- <app-document></app-document> -->
<!-- <app-forgot-otp></app-forgot-otp> -->
<!-- <app-forgot-password></app-forgot-password> -->
<!-- <app-profile></app-profile> -->
<!-- <app-profile-chnage-gender></app-profile-chnage-gender> -->
<!-- <app-reload></app-reload> -->
<!-- <app-thanku-booking></app-thanku-booking> -->
<!-- <app-tripdetail></app-tripdetail> -->
<!-- <app-vehicle-category></app-vehicle-category> -->
<!-- <app-vehicle-choose></app-vehicle-choose> -->
<app-footer></app-footer>