<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<main id="main">
    <section id="login" class="login_sec">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-6 bg-light">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="col-lg-8 mx-auto">
                                <span class="form_heading_title">

                                    <body>

                                        <div class="hatchback_car">
                                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill"
                                                href="#pills-home" role="tab" aria-controls="pills-home"
                                                aria-selected="true">
                                                <span><img src="assets/img/choose_1.png" alt=""
                                                        class="img-fluid"></span><br />
                                                <span style="color:white"><b>Hatchback-Car</b></span></a>

                                        </div>
















                                    </body>
                                </span>

                                <div class="form_all">
                                    <form class="">
                                        <div class="row">
                                            <div class="col-md-12 mb-3">

                                                <div class="input-group">
                                                    <div class="wait_pls">

                                                        <h5><b>Enter your mobile number</b></h5>



                                                        <p class="p1">A 4-digit OTP will be sent on SMS</p>


                                                        <input type="tel" id="phone" name="phone" placeholder="+91"
                                                            pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required><br><br>
                                                        <br><br>

                                                        <div class="b">
                                                            <button class="button"><a
                                                                    routerLink='/MobileOtp'>Next</a></button>
                                                        </div>
                                                    </div>



                                                    <span class="icon_form_add"><i class='bx bxs-lock-alt'></i></span>
                                                </div>
                                            </div>


                                        </div>





















                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-flex bg-image"></div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->





</html>