<!-- <!Doctype> -->
<html>

<head>

</head>


<div style="position: relative; left: 0; top: 0;">
    <img src="../assets/cover.png" class="fishes" />
    <img src="../assets/redd.png" class="fish" />
    <div class="bottom-right">Book a City Taxi to your <br> destination</div>
    <div> <button style="font-weight: bold; font-size: 16px; " class="button button1" routerLink='/booknow'><a
                routerLink='/EveryTravelPartnerComponent'>Book
                Now</a></button></div>
</div>


</html>














<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>


    <div class="row">
        <div class="column">
            <div class="card">
                <h3>24/7 Customer Support</h3>
                <br>
                <p>A dedicated 24×7 customer support <br> support team always at your
                    <br>service to help solve any problem
                </p>

            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Your Safty First</h3>
                <br>
                <p>Keep your loved ones informed <br> about your travel routes or call<br>
                    emergency services when in need</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3 style="font-size:23px ;">Top Rated Driver-Partner</h3>
                <br>
                <p>All our driver-partners are<br>background verified and trained to<br>
                    deliver only the best experience</p>

            </div>
        </div>

    </div>

    <h1 style="color: #000066;font-size:300%;text-align: center;">Meet our Awesome Fleet</h1>
    <p style="font-size:100%;font-weight: bold; text-align: center;font-family: Arial, Helvetica, sans-serif;">The
        widest variety of cars
        to choose from</p>
</body>





</html>






<main id="main">
    <div class="container">
        <div class="book_title text-center">
        </div>
        <div class="catergory_choose">
            <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
                <li class="nav-item border_right_b">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">
                        <span><img src="assets/img/choose_1.png" alt="" class="img-fluid"></span><br />
                        <span>Hatchback-Car</span></a>
                </li>
                <li class="nav-item border_right_b">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">
                        <span><img src="assets/img/svg-image-i20.png" alt="" class="img-fluid"></span><br />
                        <span>Premium-Hatch</span></a>
                </li>
                <li class="nav-item border_right_b">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">
                        <span><img src="assets/img/sedan-car.png" alt="" class="img-fluid"></span> <br />
                        <span>Sedan-car</span></a>
                </li>
                <li class="nav-item border_right_b">
                    <a class="nav-link" id="pills-compact-suv-tab" data-toggle="pill" href="#pills-compact-suv"
                        role="tab" aria-controls="pills-compact-suv" aria-selected="false">
                        <span><img src="assets/img/compact-suv.png" alt="" class="img-fluid"></span><br />
                        <span>Compact-SUV</span></a>
                </li>
                <li class="nav-item border_right_b">
                    <a class="nav-link" id="pills-suv-tab" data-toggle="pill" href="#pills-suv" role="tab"
                        aria-controls="pills-suv" aria-selected="false">
                        <span><img src="assets/img/suv-car.png" alt="" class="img-fluid"></span><br />
                        <span>SUV</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-muv-tab" data-toggle="pill" href="#pills-muv" role="tab"
                        aria-controls="pills-muv" aria-selected="false">
                        <span><img src="assets/img/marazzo.png" alt="" class="img-fluid"></span><br />
                        <span>MUV</span></a>
                </li>
            </ul>
        </div>
        <br>
        <br>



        <!-- heath -->


        <div _ngcontent-khf-c61="" class="hatchback_car mx-auto"><img _ngcontent-khf-c61=""
                src="assets/img/choose_1.png" alt="" class="img-fluid">
            <h6 _ngcontent-khf-c61="">Hatchback-Car</h6>
        </div>






        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="select_car">
                    <div class="hatchback_car mx-auto">
                        <img src="assets/img/choose_1.png" alt="" class="img-fluid">
                        <h6>Hatchback-Car</h6>
                    </div>
                    <div class="form_all mt-5">
                        <form class="">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-6 mb-5">
                                    <div class="input-group">
                                        <span class="icon_form_add"><i
                                                class='bx bx-current-location bx-burst'></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <div class="input-group">

                                        <span class="icon_form_add"><i class="icofont-location-arrow"></i></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-4">
                                    <div class="input-group">
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-4">
                                    <div class="input-group">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <div class="input-group">
                                        <span class="icon_form_add"><i class="icofont-location-arrow"></i></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-4">
                                    <div class="input-group">

                                    </div>
                                </div>
                                <div class="col-lg-3 mb-4">
                                    <div class="input-group">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 check_signup d-flex align-items-center justify-content-start">
                                    <div class="form-group mb-0">
                                        <input type="checkbox" id="html">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">2</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">3</div>
            <div class="tab-pane fade" id="pills-compact-suv" role="tabpanel" aria-labelledby="pills-compact-suv-tab">4
            </div>
            <div class="tab-pane fade" id="pills-suv" role="tabpanel" aria-labelledby="pills-suv-tab">5</div>
            <div class="tab-pane fade" id="pills-muv" role="tabpanel" aria-labelledby="pills-muv-tab">6</div>
        </div>
    </div>

    <section class="testimonials_choose">





        <h1 style="color: #000066;font-size:300%;text-align: center;">A car for every occasion</h1>
        <p style="font-size:100%;text-align: center;font-family: Arial, Helvetica, sans-serif;">We Offers Intercity
            Local Vehicle to
            provides You,the Best Way to Travel Your Destination</p>

        <br>
        <br>




        <!DOCTYPE html>
        <html lang="en">

        <head>
            <title>Bootstrap Example</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        </head>

        <body>

            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="assets/img/slide_one.png" style="width:100%">
                            <div class="caption">
                                <h3>Vehicle for Every Pocket</h3>
                                <p>We have you covered for all your needs to Choose from our range of Two Wheelers,
                                    Hatchbacks, Sedans,
                                    SUVs, MUVs and even Luxury cars, we have Vehicle to suit every pocket.</p>
                            </div>
                            <a _ngcontent-mmi-c54="" style="color: blue;" href="#">Read More <i _ngcontent-mmi-c54=""
                                    class="icofont-simple-right"></i></a>
                            <!-- </a> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="/w3images/nature.jpg" target="_blank">
                                <img src="assets/img/slide_two.png" alt="Nature" style="width:100%">
                                <div class="caption">
                                    <h3>Car Rental For Self Driven</h3>
                                    <p>We have you covered for all your needs to Choose from our range of Two
                                        Wheelers, Hatchbacks, Sedans, SUVs,
                                        MUVs and even Luxury cars, we have Vehicle to suit every pocket.</p>
                                </div>
                                <a _ngcontent-mmi-c54="" style="color: blue;" href="#">Read More <i
                                        _ngcontent-mmi-c54="" class="icofont-simple-right"></i></a>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="/w3images/fjords.jpg" target="_blank">
                                <img src="assets/img/slide_three.png" alt="Fjords" style="width:100%">
                                <div class="caption">
                                    <h3>Vehicle for Every Pocket</h3>
                                    <p>We have you covered for all your needs to Choose from our range of Two
                                        Wheelers, Hatchbacks, Sedans,
                                        SUVs, MUVs and even Luxury cars, we have Vehicle to suit every pocket.</p>
                                </div>

                                <a _ngcontent-mmi-c54="" style="color: blue;" href="#">Read More <i
                                        _ngcontent-mmi-c54="" class="icofont-simple-right"></i></a>


                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </body>

        </html>



        <div class="container">
            <img src="../assets/img/every_need_bg.png" alt="Snow" style="width:100%;">


            <div class="bottom-right">A CAR FOR EVERY NEED
                <h5 style="font-weight: bold;">We have a range of cars,so somthing will perfectly fit your tip</h5>
            </div>

        </div>


        <section _ngcontent-dcn-c52="" id="app-mobile" class="mobile_app_book">
            <div _ngcontent-dcn-c52="" class="container">
                <div _ngcontent-dcn-c52="" class="row">
                    <div _ngcontent-dcn-c52="" class="col-lg-6 col-md-6 col-sm-6 d-flex align-items-center"><span
                            _ngcontent-dcn-c52="">
                            <h3 _ngcontent-dcn-c52="">Book an assar from the App</h3>
                            <h6 _ngcontent-dcn-c52="">Download the app for exclusive deals and ease of booking</h6>
                            <a _ngcontent-dcn-c52="" href="#"><img _ngcontent-dcn-c52="" src="assets/img/play-store.png"
                                    class="pt-4 pb-3"></a><a _ngcontent-dcn-c52="" href="#"><img _ngcontent-dcn-c52=""
                                    src="assets/img/apple-ply-store.png" class="pt-4 pb-3"></a>
                        </span></div>
                    <div _ngcontent-dcn-c52=""
                        class="col-lg-6 col-md-6 col-sm-6 d-flex align-items-center justify-content-end"><span
                            _ngcontent-dcn-c52=""><img _ngcontent-dcn-c52="" src="assets/img/app_mobile.png"
                                class="img-fluid"></span></div>
                </div>
            </div>
        </section>